<div style="text-align:center">
    <h1>
        {{ prompt.message }}
    </h1>
</div>
<form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
<mat-selection-list formControlName="value">
    <mat-list-option [value]="choice" *ngFor="let choice of prompt.choices">
        {{choice}}
    </mat-list-option>
</mat-selection-list>
</form>
<div class="full-width">
    <button mat-button color="primary" (click)="onSubmit()">Update</button>
    <button mat-button (click)="onCancel($event)">Cancel</button>
</div>