:host {
    display: block;
    margin: 0 100px;
    /*border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px; */
}

form {
    margin: 10px;
}

mat-list-item.disabled{
    cursor: not-allowed !important;
    opacity: 0.5;
    text-decoration: none;
}