<h1 mat-dialog-title>{{ data.title }}</h1>
<form name="form" #f="ngForm" novalidate> 
<div mat-dialog-content>{{ data.message }}
<p></p>
<mat-form-field style="width: 100%">
    <input matInput placeholder="Email" type="email" name="email" [(ngModel)]="email" #e="ngModel" required />
    <mat-error *ngIf="e.hasError('email') && !e.hasError('required')" class="help-block">Please enter a valid email address</mat-error>
    <mat-error *ngIf="e.hasError('required')" class="help-block">Email is required</mat-error>
</mat-form-field>    

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ data.cancelButtonText }}</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [disabled]="!f.form.valid" [mat-dialog-close]="{result: true, text: email}">{{ data.okButtonText }}</button>
</div>
</form>